@layer components {
  .tw-btn-action {
    @apply tw-flex tw-items-center tw-justify-center
      tw-h-10
      tw-px-5 tw-py-0
      tw-text-sm tw-leading-loose tw-font-normal tw-normal-case tw-text-primary tw-leading-none
      tw-border tw-border-primary tw-rounded-3xl
      tw-transition
      tw-no-underline;
  }

  .tw-btn-action:hover:not(:disabled) {
    @apply tw-opacity-75
      tw-no-underline;
  }

  .tw-btn-action:disabled {
    @apply tw-opacity-25 tw-bg-opacity-100 tw-cursor-not-allowed;
  }

  .tw-btn-action:disabled:hover {
    @apply tw-opacity-25;
  }

  .tw-btn-action.loading,
  .tw-btn-action.loading:disabled {
    @apply tw-opacity-75 tw-bg-opacity-100 tw-cursor-wait;
  }

  .tw-btn-action__spinner {
    @apply tw-block 
      tw-w-0
      tw-opacity-0
      tw-text-left 
      tw-overflow-hidden;
    transition: width 150ms, opacity 100ms;
  }

  .tw-btn-action__spinner.active {
    @apply tw-w-8
      tw-opacity-100;
  }
}
