@layer components {
  .tw-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .tw-circle .tw-circle-red {
    @apply tw-bg-red;
  }
  .tw-circle .tw.circle-green {
    @apply tw-bg-green;
  }
}
