@layer components {
  .tw-qrcode-container {
    @apply tw-w-min;
    @apply tw-mx-auto;
    @apply tw-relative;
    margin-bottom: 72px;
  }
  .tw-qrcode-label {
    @apply tw-mb-2.5;
    @apply tw-font-medium tw-text-base tw-text-sov-white;
  }
  .tw-qrcode-wrapper {
    border-radius: 10px;
    @apply tw-h-full tw-bg-sov-white tw-text-center;
  }
  .tw-qrcode-wrapper svg {
    border-radius: 10px;
    @apply tw-w-full tw-h-full tw-py-6;
    width: 158px;
    margin: 0 82px 24px 82px;
  }
  .tw-qrcode-wrapper path:first-child {
    @apply tw-fill-current tw-text-sov-white;
  }
  .tw-qrcode-wrapper path:nth-child(2) {
    @apply tw-fill-current tw-text-black;
  }

  .tw-qrcode-clipboard {
    @apply tw-absolute tw-w-full;
  }
  .tw-qrcode-clipboard .tw-qrcode-address-wrapper {
    @apply tw-cursor-pointer;
    @apply tw-py-3 tw-px-5;
    @apply tw-rounded-lg;
    @apply tw-border tw-border-dark-1 tw-border-solid;
    @apply tw-bg-gray-2;
    @apply tw-text-sm tw-font-extralight;
  }
  .tw-qrcode-clipboard .tw-qrcode-address-wrapper svg path:nth-child(2) {
    @apply tw-fill-current tw-text-secondary;
  }
}
