@layer components {
  .tw-radio-group {
    max-width: 320px;
    @apply tw-w-full tw-flex tw-flex-row tw-justify-between tw-items-center tw-rounded-lg tw-border tw-border-sov-white tw-overflow-hidden tw-divide-x tw-divide-white;
  }

  .tw-radio-group__label {
    @apply tw-flex-grow-0 tw-flex-shrink tw-block tw-p-2 tw-cursor-pointer tw-m-0 tw-flex tw-flex-row tw-items-center tw-justify-center tw-transition tw-truncate tw-text-sm;
    height: 1.875rem;
  }

  .tw-radio-group__label-content {
    @apply tw-w-full tw-font-semibold tw-flex tw-flex-row tw-justify-center tw-items-center tw-opacity-25 tw-transition tw-truncate;
  }

  .tw-radio-group__label-content--active {
    @apply tw-opacity-100;
  }

  .tw-radio-group--secondary.tw-radio-group {
    @apply tw-border-secondary tw-divide-secondary;
  }

  .tw-radio-group--secondary .tw-radio-group__label--active {
    @apply tw-bg-secondary tw-bg-opacity-75;
  }

  .tw-radio-group--primary.tw-radio-group {
    @apply tw-border-0 tw-divide-none;
  }
  .tw-radio-group--primary .tw-radio-group__label {
    @apply tw-opacity-60;
  }
  .tw-radio-group--primary .tw-radio-group__label--active {
    @apply tw-bg-opacity-100 tw-opacity-100;
  }
}
