@layer components {
  .tw-skeleton {
    animation: skeleton-glow 1s linear infinite alternate;
    background: rgba(206, 217, 224, 0.2);
    background-clip: padding-box !important;
    border-color: rgba(206, 217, 224, 0.2) !important;
    border-radius: 2px;
    box-shadow: none !important;
    color: transparent !important;
    cursor: default;
    pointer-events: none;
    user-select: none;
  }
  .tw-skeleton *,
  .tw-skeleton:after,
  .tw-skeleton:before {
    visibility: hidden !important;
  }


  .tw-skeleton-wrapper {
    max-width: 100%;
    overflow-x: hidden;
    vertical-align: top;
  }

  .tw-skeleton-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
