@layer components {
  /* Slider */
  .tw-slider {
    @apply tw-w-full tw-h-12;
  }

  .tw-slider .bp3-slider-track {
    @apply lg:tw-rounded tw-h-3;
  }

  .tw-slider .bp3-slider-progress {
    height: 0.75rem;
    /* todo change color with correct tailwinds definition */
    background-color: #707070;
  }

  .tw-slider .bp3-slider-progress.bp3-intent-primary {
    @apply tw-bg-secondary;
  }

  .tw-slider .bp3-slider-handle {
    @apply tw-rounded-full tw-w-6 tw-h-6;
  }

  .tw-slider .bp3-slider-axis {
    width: calc(100% - 0.75rem);
    @apply tw-mx-auto tw-relative;
  }

  .tw-slider .bp3-slider-label {
    @apply tw-font-bold tw-font-body tw-text-white;
    @apply tw-top-3;
    @apply tw-text-base;
  }

  .tw-slider .bp3-slider-handle .bp3-slider-label {
    @apply tw-hidden;
  }
}
