/* trading button styles */
@layer components {
  .tw-btn-trade {
    width: 100%;
    height: 3.125rem;
    letter-spacing: 0;
    @apply tw-block tw-overflow-ellipsis tw-overflow-hidden tw-whitespace-nowrap;
    @apply tw-px-6 tw-py-0;
    @apply tw-transition;
    @apply tw-border-0 tw-rounded-lg;
  }
  .tw-btn-trade,
  .tw-btn-trade-content {
    @apply tw-text-sov-white tw-uppercase tw-text-base tw-font-black tw-leading-none tw-font-body;
    @apply tw-font-semibold;
  }

  .tw-btn-trade:hover {
    @apply tw-opacity-75;
  }

  .tw-btn-trade:disabled {
    @apply tw-opacity-25 tw-bg-opacity-100 tw-cursor-not-allowed;
  }

  .tw-btn-trade.loading,
  .tw-btn-trade.loading:disabled {
    @apply tw-opacity-75 tw-bg-opacity-100 tw-cursor-wait;
  }

  .tw-btn-loader__spinner {
    @apply tw-block tw-overflow-hidden tw-text-left;
    transition: width 150ms, opacity 100ms;
    opacity: 0;
    width: 0;
  }

  .tw-btn-loader__spinner.active {
    width: 2rem;
    opacity: 100;
  }
}
