.volumeValue {
    @apply tw-text-2xl tw-text-primary tw-tracking-normal tw-font-semibold;

    line-height: 1.8rem;
}

.title {
    @apply tw-text-3xl tw-tracking-normal tw-font-semibold tw-mb-6;

    line-height: 2.125rem;
}