.checkbox {
  @apply tw-bg-sov-white tw-mr-2.5 tw-inline-block tw-h-4 tw-w-4;

  border-radius: 3px;
  content: '';
}

.checkboxChecked {
  @apply tw-bg-primary;

  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 00-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0012 5z' fill='%23fff'/%3E%3C/svg%3E");

  &.checkboxDisabled {
    @apply tw-bg-primary tw-opacity-50;
  }
}

.checkboxDisabled {
  background-color: rgba(232, 232, 232, 0.5);
}

.label {
  @apply tw-relative tw-cursor-pointer tw-flex tw-items-center tw-normal-case;
}

.labelDisabled {
  @apply tw-cursor-not-allowed;

  color: rgba(232, 232, 232, 0.5);
}
