.dialogContainer {
  max-width: 470px;
  width: 100%;
}

.container {
  background-color: #000000;
  color: #d9d9d9;
  max-width: 470px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  letter-spacing: 0;
}

.innerContainer {
  padding: 30px;
}

@media screen and (min-width: 920px) {
  .innerContainer {
    padding: 30px 62px;
  }
}

.title {
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.subtitle {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  width: 100%;
}

.limitsTitle {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.limitsValue {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  max-width: 140px;
  justify-content: space-between;
}

.instructionsTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.instructionsValue {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.arrowDown {
  width: 30px;
  margin: 25px auto;
}

.txFee {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 20px 0 35px;
  color: #ffffff;
}

.right {
  right: 0;
}

.close {
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  float: right;
  margin-top: 16px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.close:hover {
  opacity: 0.9;
}
