.switch {
    @apply tw-inline-flex tw-items-center tw-cursor-pointer tw-relative;

    p {
        @apply tw-m-0 tw-text-sm tw-leading-4;
    }

    input {
        @apply tw-left-0 tw-opacity-0 tw-absolute tw-top-0;
        z-index: -1;

        ~.indicator {
            @apply tw-bg-gray-6;
        }

        &:checked {
            ~.indicator {
                @apply tw-bg-blue-2;

                &:before {
                    left: calc(100% - 1rem);
                    @screen lg {
                        left: calc(100% - 1rem);
                    }
                }

                div {
                    &:first-child {
                        @apply tw-block;
                    }

                    &:last-child {
                        @apply tw-hidden;
                    }
                }
            }
        }
    }
}

.indicator {
    @apply tw-bg-gray-9 tw-flex tw-items-center tw-border-0 tw-h-4 tw-w-auto tw-relative tw-select-none tw-rounded-2xl tw-mr-2.5;
    min-width: 2rem;

    div {
        @apply tw-text-xs tw-whitespace-nowrap tw-text-center;

        &:first-child {
            @apply tw-hidden tw-ml-2 tw-mr-5;
        }

        &:last-child {
            @apply tw-block tw-mr-2 tw-ml-5;
        }
    }

    &:before {
        content: "";
        @apply tw-absolute tw-rounded-full tw-block tw-h-3 tw-w-3 tw-bg-white tw-left-0 tw-m-0.5;
        transition: left .1s cubic-bezier(.4, 1, .75, .9);
    }
}