.arrow {
  @apply tw-flex tw-items-center tw-justify-center tw-absolute tw-cursor-pointer;

  background: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 30%;
}

.dot {
    @apply tw-w-2.5 tw-h-2.5 tw-border tw-border-solid tw-border-sov-white tw-mr-4 tw-cursor-pointer;

    border-radius: 50%;
}
