:root {
  --Teal: #4ecdc4;
  --background: #171717;
  --secondary-bg: #414042;
  --component-bg: #0b223b;
  --Gold: #fec004;
  --Field_bg: #05182e;
  --Green: #00ce7d;
  --Red: #eb2106;
  --Muted_red: #cd4e4e;
  --Grey_text: #586c86;
  --LightGrey: #a9bacd;
  --MediumGrey: #7b96b5;
  --TabGrey: #213b58;

  --black: #000;
  --dark-gray: #656565;
  --light-gray: #D9D9D9;
  --white: #fff;
  --black: #000;
  --red: #eb2106;
  --green: #00ce7d;
  --teal: #4ecdc4;
  --gold: #fec004;
  --gold5: rgba(254, 192, 4, 0.05);
  --gold25: rgba(254, 192, 4, 0.25);
  --gold35: rgba(254, 192, 4, 0.35);
  --gold50: rgba(254, 192, 4, 0.5);
  --primary: #171717;
  --secondary: #2d2d2d;

  --dark: var(--primary);

  --body-bg: var(--primary);
  --body-color: var(--white);

  --primary-font: 'Rowdies', cursive;
  --secondary-font: 'Work Sans', sans-serif;

  --sales-background: #181818;
}

$body-bg: #171717;
$body-color: #fff;

$dark-gray: #656565;
$light-gray: #979797;

$black: #000;
$white: $body-color;
//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
$red: #eb2106;
$muted_red: #cd4e4e;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
$green: #00ce7d;
$teal: #4ecdc4;
//$cyan:    #17a2b8 !default;

$primary: $body-bg;
$secondary: #2d2d2d;
$success: $green;
//$info:          $cyan !default;
//$warning:       $yellow !default;
$danger: $red;
$light: $body-color;
$dark: $body-bg;

$border-radius: 5px;
$font-family-base: 'Rowdies', cursive;
$font-family-montserrat: 'Montserrat', sans-serif;

//$font-size-base: 18px;
//$font-size-sm: 14px;
//$font-size-lg: 24px;

/* FOR BLUEPRINT CUSTOMIZATION */
