@import './_custom-variables.scss';

// BOOTSTRAP OVERIDE STYLES

.active {
  border-bottom: none !important;
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1920px;
  }
}

.tw-block span.bp3-popover-target {
  display: block;
}
