:root {
  --Teal: #4ecdc4;
  --background: #171717;
  --secondary-bg: #414042;
  --component-bg: #0b223b;
  --Gold: #fec006;
  --Field_bg: #05182e;
  --Green: #00ce7d;
  --Red: #eb2106;
  --Muted_red: #CD4E4E;
  --Grey_text: #586c86;
  --LightGrey: #a9bacd;
  --MediumGrey: #7b96b5;
  --TabGrey: #213b58;

  --black: #000;
  --dark-gray: #656565;
  --light-gray: #979797;
  --white: #fff;
  --black: #000;
  --red: #eb2106;
  --green: #00ce7d;
  --teal: #4ecdc4;
  --gold: #fec006;
  --primary: #171717;
  --secondary: #2d2d2d;

  --dark: var(--primary);

  --body-bg: var(--primary);
  --body-color: var(--white);

  --primary-font: 'Rowdies', cursive;
  --secondary-font: 'Work Sans', sans-serif;

}

$body-bg: #171717;
$body-color: #fff;

$dark-gray: #656565;
$light-gray: #979797;

$black: #000;
$white: $body-color;
//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
$red:     #eb2106;
$muted_red: #CD4E4E;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
$green:   #00ce7d;
$teal:    #4ecdc4;
//$cyan:    #17a2b8 !default;


$primary:       $body-bg;
$secondary:     #2d2d2d;
$success:       $green;
//$info:          $cyan !default;
//$warning:       $yellow !default;
$danger:        $red;
$light:         $body-color;
$dark:          $body-bg;


/* FOR BOOTSTRAP THEMES */

$theme-colors: (
  'black': $black,
  'muted': $dark-gray,
  'long': $teal,
  'short': #CD4E4E,
  'dark-gray': $dark-gray,
  'light-gray': $light-gray,
  'teal': $teal,
  'gold': #fec006,
  'red': #eb2106,
  'green': #00ce7d,
  'customOrange': #ff9931,
  'Gold':  #fec006,
  'customTeal':  #4ecdc4,
  'lightGrey':  #a9bacd,
  'MediumGrey':  #7b96b5,
  'Grey_text': #586c86,
  'primaryBackground': #192b41,
  'secondaryBackground':  #414042,
  'fieldBackground':  #05182e,
  'component-bg': #0b223b,
  'TabGrey': #213b58,
  'Red': #eb2106,
  'Muted_red': #CD4E4E,
);


$border-radius: 5px;
$font-family-base: 'Rowdies', cursive;

//$font-size-base: 18px;
//$font-size-sm: 14px;
//$font-size-lg: 24px;

/* FOR BLUEPRINT CUSTOMIZATION */


