/* FOR BOOTSTRAP THEMES */

$theme-colors: (
  'secondary': #414042,
  'customOrange': #ff9931,
  'customTeal': #4ecdc4,
  'customBlack': #202020,
  'lightGrey': #a2abb8,
);

//$font-size-base: 18px;
//$font-size-sm: 14px;
//$font-size-lg: 24px;

/* FOR BLUEPRINT CUSTOMIZATION */

$customOrange: #ff9931;
$customTeal: #4ecdc4;
$lightGrey: #a2abb8;

$pt-font-size: 18px;

$pt-input-height: 37px;
//$input-background-color: $lightGrey;
//$input-color: $white;
