@import './_custom-variables.scss';

// BOOTSTRAP OVERIDE STYLES

.rounded {
    border-radius: 2rem !important;
}

.skeleton-wrapper {
  max-width: 100%;
  overflow-x: hidden;
  vertical-align: top;
}
