@import './_custom-variables.scss';

.btn {
    margin-top: 10px;
    border-radius: 20px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78, 205, 196, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #4ECDC4;
} 

.bp3-button-group {
    border-radius: 50px;
    background-color: grey;
    border: none;
    float: right;
    
    .bp3-button {
        background-color: grey;
        background-image: none;
        border-radius: 100px;
        color: white;
        font-weight: bold;
        transition: .5s linear;
        
        &:focus {
          outline: none;
        }
    }
    
    .bp3-active {
      background-color: $customTeal !important;
    }
}