@import './_animations';

@mixin fade-in($speed) {
    animation: fadeIn ease $speed;
    -webkit-animation: fadeIn ease $speed;
    -moz-animation: fadeIn ease $speed;
  }

@mixin position($top, $left) {
    top: $top;
    left: $left;
  }
  
  @mixin size($height, $width) {
    height: calc(0.8 * #{$height});
    width: calc(0.8 * #{$width});
  }

.fast-btc-tutorial_container {
    z-index: 100;
    background-color: rgba(23, 23, 23, 0.5);
    width: 100vw;
    height: 100vh;
    .dialog-box {
        @include position(45%, 50%);
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        transition: 0.5s all ease-in-out;
        &.wide {
            width: 800px;
        }
        * {
            @include fade-in(0.8s);
            text-underline-position: under;
            -ms-text-underline-position: under;
        }
    }
    .green-circle {
        width: 15px;
        height: 15px;
        background-color: var(--green);
        border-radius: 100%;
    }
    [class*='circle-'] {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        transform: translateY(2px);
        &[class*='red'] {
            background-color: var(--red);
        }
        &[class*='green'] {
            background-color: var(--green);
        }
    }
    .close {
        @include position(1%, 94%)
    }
    h2 {
        font-family: 'Work Sans';
        text-align: center;
        font-size: 20px;
        text-transform: initial;
    }
    ul {
        padding-left: 20px;
    }
    p {
        font-family: 'Work Sans';
        font-size: 80%;
    }
    .btc-address {
        font-size: 11px;
    }
    .address-link button {
        margin-top: -4px;
    }
    .create-button {
        width: 90%;
        bottom: 50px;
        button {
            color: var(--primary);
            padding: 9px 11px;
            border-radius: 8px;
            font-size: 1rem;
            background-color: var(--white);
        }
    }
}