@import './_animations';

@mixin fade-in($speed) {
  animation: fadeIn ease $speed;
  -webkit-animation: fadeIn ease $speed;
  -moz-animation: fadeIn ease $speed;
}

.wallet-tutorial-mobile {
  &_container {
    z-index: 100;
    background-color: rgba(256, 256, 256, 0.6);
    width: 100vw;
    height: 100vh;
    > div:first-of-type {
      width: 300px;
      @include position(45%, 50%);
      transform: translate(-50%, -50%);
      @include fade-in(1s);
    }
    [class^='title'] {
      color: var(--black);
      top: 6%;
      left: 5%;
      width: 50%;
      transform: rotate(-5deg);
      text-align: center;
      text-transform: uppercase;
      font-family: 'Kalam';
      font-weight: 700;
      &[class*='1'] {
        width: 45%;
        left: 2%;
        top: 5%;
        transform: rotate(0);
      }
    }
    [class^='close'] {
      width: 30px;
      top: 10%;
      left: 85%;
      &[class*='--3'] {
        left: 77%;
        top: 12%;
      }
    }
    .logo-grid {
      color: var(--black);
      width: 80%;
      margin: 0 auto;
      top: 25%;
      left: 15%;
      img {
        width: 75px;
        &:active {
          transform: scale(0.9);
        }
      }
      .col-4 {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .step-image {
      top: 17%;
      left: 35%;
      height: calc(264px * 0.6);
      width: calc(157px * 0.6);
    }
    .step-description {
      color: var(--black);
      top: 54%;
      width: 100%;
      text-align: center;
      padding-left: 25px;
      padding-right: 25px;
      margin: 0;
    }
    .stepper {
      top: 60%;
      left: 5%;
      &_circle {
        background-color: var(--white);
        opacity: 0.5;
        height: 22px;
        width: 22px;
        margin: 0 8px;
        border-radius: 100%;
        margin-top: 9px;
        &.active {
          background-color: var(--white);
          opacity: 1;
        }
        &:first-of-type {
          margin-left: 8px;
        }
        &:last-of-type {
          margin-right: 8px;
        }
        .right-arrow {
          transform: translateY(6px);
        }
      }
    }
    .open-wallet {
      background-color: var(--orange);
      margin-top: 20px;
      left: 14%;
      color: var(--black);
      text-transform: uppercase;
      font-size: larger;
      font-family: 'Work Sans';
    }
    .settings {
      color: (var(--black));
      top: 71%;
      font-size: 9px;
      font-weight: 600;
      font-family: 'Work Sans';
      width: 100%;
      .row {
        margin: 0;
        margin-bottom: 4px;
      }
      .col-8 {
        padding-right: 0;
      }
      .col-4 {
        padding-right: 0;
        font-family: 'Kalam';
        transform: skewX(10deg);
      }
      .col-12 {
        font-size: 12px;
        padding-bottom: 8px;
        font-family: 'Rowdies';
      }
    }

    // Email Not Ready Component
    .mobile-not-ready-img * {
      @include fade-in(2s)
    }
    [class^='mobile-not-ready-text'] {
      color: var(--black);
      width: 70%;
      top: 32%;
      left: 15%;
      text-align: center;
      font-size: 14px;
      &[class*='2'] {
        top: 85%;
      }
      &[class*='--success'] {
        top: 70%;
        left: 11%;
        @include fade-in(2s)
      }
    }
    .email-form {
      left: 16%;
      top: 65%;
      text-align: center;
      input {
        font-size: 14px !important;
        text-align: center;
        width: 200px;
      }
      button {
        background-color: var(--orange);
        border: none;
        border-radius: 20px;
        font-size: 1.6em;
        margin-top: 10px;
      }
    }
  }
}
