// global-styles.tsx
body.originsLaunchpad {
  @apply tw-bg-gray-800;
}

#root {
  min-height: 100vh;
  overflow: auto;
  padding-top: 4.4rem;
  &.openedMenu {
    overflow: hidden;
    height: 0;
    min-height: 0;
  }
}

.bordered {
  border: 1px solid var(--Grey_text);
}

.data-container {
  background-color: var(--Field_bg);
  padding: 8px 14px;
  &.bordered {
    border: 1px solid var(--Grey_text);
  }
}

.data-label {
  padding: 8px 0;
  color: var(--Grey_text);
  font-size: 85%;
}
.modal-title {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.49px;
  text-transform: capitalize;
}
#WEB3_CONNECT_MODAL_ID > div {
  z-index: 30;
}

.opaque {
  opacity: 0.2;
}

.mw-tooltip {
  max-width: 250px;
}

@screen lg {
  .mw-tooltip {
    max-width: 600px;
  }
}
