#root {
  @apply tw-overflow-auto tw-flex tw-flex-col tw-justify-between tw-min-h-screen;
  padding-top: 4.4rem;
}
.openedMenu {
  @apply tw-overflow-hidden tw-h-0 tw-min-h-0;
}

#WEB3_CONNECT_MODAL_ID>div {
  @apply tw-z-30;
}

.mw-tooltip {
  max-width: 250px;
}

*::-webkit-scrollbar {
  @apply tw-w-1;
}

*::-webkit-scrollbar-track {
  @apply tw-shadow-inner;
}

*::-webkit-scrollbar-thumb {
  @apply tw-bg-gray-9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply tw-m-0 tw-appearance-none;
}

.popover-mw {
  max-width: 270px;
}

.popover-content {
  @apply tw-p-4 tw-font-light;
}

@screen lg {
  .mw-tooltip {
    @apply tw-max-w-xl;
  }
  .popover-mw {
    max-width: 720px;
  }
  .popover-content {
    @apply tw-px-8 tw-py-4;
  }
}
