// global-styles.tsx
#root {
  @apply tw-flex tw-flex-col tw-justify-between tw-min-h-screen tw-overflow-auto;
  padding-top: 4.4rem;

  &.openedMenu {
    @apply tw-h-0 tw-min-h-0 tw-overflow-hidden;
  }
}

// clear root styling for storybook
.sb-show-main #root {
  @apply tw-relative tw-block tw-p-4;
}

#WEB3_CONNECT_MODAL_ID>div {
  @apply tw-z-30;
}

.mw-tooltip {
  max-width: 250px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply tw-m-0 tw-appearance-none;
}

.mw-tooltip {
  max-width: 250px;
}

.popover-content {
  @apply tw-p-4 tw-font-light;
}

@screen lg {
  .mw-tooltip {
    max-width: 600px;
  }
  .mw-content {
    @apply tw-px-8 tw-py-4;
  }
}
