@import './custom-variables';

.sovryn-border {
  border: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--light-gray);
}

.sovryn-border-left {
  border-left: 1px solid $white;
}

.sovryn-border-top {
  border-top: 1px solid $white;
}

.sovryn-border-bottom {
  border-bottom: 1px solid $white;
}

.sovryn-border-right {
  border-right: 1px solid $white;
}

.sovryn-tabs {
  background: none !important;

  .tab-content {
    padding: $grid-gutter-width / 2;
    border-bottom: 5px;
    border-right: 5px;
    border-top: 1px;
    border-left: 1px;
    border-style: solid;
    border-radius: 0 8px 8px 8px;
    border-color: $white;
    z-index: 1;
  }

  .nav-tabs {
    border-bottom: 0;
    flex-wrap: nowrap;

    & .nav-item {
      font-size: 15px;
      color: $text-muted;
      margin-right: 5px;
      border-right: 5px;
      border-top: 1px;
      border-left: 1px;
      border-bottom: 0;
      border-style: solid;
      border-color: $text-muted;
      border-radius: 8px 8px 0 0;
      margin-bottom: -1px;
      border-bottom: 1px solid $white;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
      }

      &.active {
        color: $white;
        border-color: $white;
        border-bottom: 1px solid $dark;
      }

      &:not(.active) {
        flex: 1;
        max-width: fit-content;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.sovryn-tabs .custom-stats-tab {
  border: none !important;
  &.charts-active {
    color: var(--gold);
  }
}

@mixin table-header {
  font-family: inherit;
  font-weight: inherit;
  color: var(--light-gray);
  font-size: 16px;
  padding: 0 15px;
}

.sovryn-table {
  font-family: $font-family-montserrat;
  font-weight: 100;
  width: 100%;
  font-size: 14px;

  &.sovryn-table-mobile {
    font-size: 12px;
    @media (max-width: 335px) {
      font-size: 11px;
    }
  }

  .table-header div {
    @include table-header;
  }
  thead tr,
  .table-header:not(.sub-header) {
    height: 40px;

    // border-bottom: 1px solid var(--light-gray);
    th {
      @include table-header;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        td {
          background-color: #282828;

          &:first-child {
            border-radius: 6px 0 0 6px;
          }

          &:last-child {
            border-radius: 0 6px 6px 0;
          }

          &:only-child {
            border-radius: 6px;
          }
        }
      }
    }
  }

  tbody tr,
  div.mobile-row {
    height: 80px;

    td {
      padding: 0 15px;
      color: var(--light-gray);
    }

    &:first-of-type {
      border-top: none;
    }

    &.table-header {
      height: 60%;

      >td {
        @include table-header;
        padding-top: 20px;
      }
    }
  }

  .mobile-row {
    align-content: center;
  }

  .sub-header div {
    font-size: 8px;
  }

  &.sovryn-table-mobile {
    [class^='col'] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

input {
  font-family: var(--secondary-font);
  font-weight: 400;
}

.font-size-lg {
  font-size: 19px;
}

.font-size-xl {
  font-size: 38px;
}

.font-family-work-sans {
  font-family: var(--secondary-font);
}

.font-family-rowdies {
  font-family: var(--primary-font);
}

.bp3-dialog {
  @extend .sovryn-border;
  @extend .bg-primary;
  @extend .p-3;
  font-family: var(--secondary-font);
}

.bp3-popover {
  &.bp3-select-popover {
    & .bp3-popover-content {
      @extend .sovryn-border;
      @extend .bg-primary;

      & .bp3-input-group {
        & input {
          background-color: transparent;
          border: 1px solid var(--light-gray);
          color: var(--white);
        }
      }
    }

    & .bp3-popover-arrow-fill {
      fill: var(--white);
    }
  }

  &,
  &.bp3-tooltip {
    & .bp3-popover-content {
      @extend .sovryn-border;
      @extend .bg-primary;
    }

    & .bp3-popover-arrow {
      width: 30px;
      height: 30px;
    }

    & .bp3-popover-arrow-fill {
      fill: var(--white);
    }
  }

  & .bp3-menu {
    background-color: transparent;

    & .bp3-menu-item {
      color: var(--white);
      font-family: var(--secondary-font);

      &.bp3-active {
        background-color: var(--dark-gray);
      }
    }
  }
}

.bp3-toast {
  @extend .sovryn-border;
  background-color: var(--primary);
}

.bp3-drawer {
  background-color: var(--primary);
  color: var(--white);
  width: 100% !important;
  border-right: 5px solid var(--white);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  @include media-breakpoint-up(md) {
    width: 360px !important;
  }
}

.web3modal-modal-card {
  @extend .sovryn-border;
  @extend .font-family-work-sans;
}

//new styles for Sovryn
button.bp3-button.bp3-minimal {
  border: 1px solid;
  margin-left: 15px;
  border-radius: 25px !important;
  font-family: $font-family-montserrat;
  font-weight: 100;
  font-size: 14px;
  text-transform: none;
  padding: 8px 20px;
  transition: background .3s;

  &:hover {
    background: rgba(254, 192, 4, 0.25) !important;
  }

  &:active,
  &:focus {
    background: rgba(254, 192, 4, 0.5) !important;
  }
}

.is-pointer {
  cursor: pointer;
}

.image-responsive {
  max-width: 333px;
  border-radius: 12px;
  position: relative;
}

.image-bordered:before {
  content: '';
  position: absolute;
  background: white;
  overflow: hidden;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 16px;
}

header {
  background: black;

  &>div:first-child {
    min-height: 70px;
  }

  .hamburger {
    width: 48px;
    height: 48px;
    text-align: center;
    padding-left: 0;
    color: var(--white);
    background: none;
    border: none;
  }

  select {
    font-size: 16px;
    font-family: $font-family-montserrat;
    font-weight: 100;
    background-color: transparent;
  }
}

.simpleView {
  .engage-wallet {
    height: 50px;
    padding: 2px 0 2px 10px;
    font-size: 22px;

    span {
      &>span:first-child {
        min-width: 250px;
      }
    }

    .logout {
      height: 50px;
      padding: 17px 12px;
    }
  }
}

.sov-title {
  font-family: $font-family-montserrat;
  font-weight: 400;
  font-size: 28px;
}

.container h2 {
  font-family: $font-family-montserrat;
  text-transform: inherit;
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--light-gray);
  margin: 0;

  &.sov-title {
    font-weight: 400;
    font-size: 1rem;
  }
}

.sov-table {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 40px;

  .table {
    margin: 0;
    background: white;
    text-align: left;

    tr {
      height: auto;

      &:last-child {
        td {
          div {
            text-align: center;
            font-size: 9px;
          }
        }
      }
    }

    td[rowspan="2"] {
      text-align: center;
      width: 60px;
    }

    th,
    td {
      padding: 5px;
      vertical-align: middle;
      border: 1px solid black;
      color: #707070;
      font-family: $font-family-montserrat;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
    }
  }
}