@import './custom-variables';

.sovryn-border {
  border: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--light-gray);
}

.sovryn-border-left {
  border-left: 1px solid theme('colors.white');
}

.sovryn-border-top {
  border-top: 1px solid theme('colors.white');
}

.sovryn-border-bottom {
  border-bottom: 1px solid theme('colors.white');
}

.sovryn-border-right {
  border-right: 1px solid theme('colors.white');
}

.sovryn-tabs {
  background: none !important;

  .tab-content {
    padding: 15px;
    border-bottom: 5px;
    border-right: 5px;
    border-top: 1px;
    border-left: 1px;
    border-style: solid;
    border-radius: 0 8px 8px 8px;
    border-color: theme('colors.white');
    z-index: 1;
  }

  .nav-tabs {
    border-bottom: 0;
    flex-wrap: nowrap;

    & .nav-item {
      font-size: 15px;
      color: theme('colors.muted');
      margin-right: 5px;
      border-right: 5px;
      border-top: 1px;
      border-left: 1px;
      border-bottom: 0;
      border-style: solid;
      border-color: theme('colors.muted');
      border-radius: 8px 8px 0 0;
      margin-bottom: -1px;
      border-bottom: 1px solid theme('colors.white');

      @media (min-width: theme('screens.lg')) {
        font-size: 22px;
      }

      &.active {
        color: theme('colors.white');
        border-color: theme('colors.white');
        border-bottom: 1px solid theme('colors.background');
      }

      &:not(.active) {
        flex: 1;
        max-width: fit-content;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.sovryn-tabs .custom-stats-tab {
  border: none !important;
  &.charts-active {
    color: var(--gold);
  }
}

@mixin table-header {
  font-family: inherit;
  font-weight: inherit;
  color: var(--light-gray);
  font-size: 16px;
  padding: 0 22px;
  height: 45px;
  @media (max-width: 441px) {
    padding: 0 15px;
  }
}

.sovryn-table {
  font-family: theme('fontFamily.body');
  font-weight: 100;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0;

  &.sovryn-table-mobile {
    font-size: 12px;
    @media (max-width: 441px) {
      font-size: 11px;
    }
  }

  .table-header div {
    @include table-header;
  }
  thead tr,
  .table-header:not(.sub-header) {
    height: 40px;
    th {
      @include table-header;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        td {
          @apply tw-bg-gray-800;

          &:first-child {
            border-radius: 6px 0 0 6px;
          }

          &:last-child {
            border-radius: 0 6px 6px 0;
          }

          &:only-child {
            border-radius: 6px;
          }
        }
      }
    }
  }

  tbody tr,
  div.mobile-row {
    height: 80px;

    td {
      padding: 0 30px;
      color: var(--light-gray);
      @media (max-width: 441px) {
        padding: 0 15px;
      }
    }

    &:first-of-type {
      border-top: none;
    }

    &.table-header {
      height: 60%;

      > td {
        @include table-header;
        padding-top: 20px;
      }
    }
  }

  .mobile-row {
    align-content: center;
  }

  .sub-header div {
    font-size: 8px;
  }

  &.sovryn-table-mobile {
    [class^='col'] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

//new styles for Sovryn
button.button-round {
  border: 1px solid;
  margin-left: 15px;
  border-radius: 25px !important;
  font-family: theme('fontFamily.body');
  font-weight: 100;
  font-size: 14px;
  text-transform: none;
  padding: 8px 20px;
  transition: background 0.3s;

  &:hover {
    background: rgba(254, 192, 4, 0.25) !important;
  }

  &:active,
  &:focus {
    background: rgba(254, 192, 4, 0.5) !important;
  }

  &:disabled {
    opacity: 0.5;
  }
}
button.button-width {
  min-width: 170px;
  max-width: 200px;
}

.image-bordered:before {
  content: '';
  position: absolute;
  background: white;
  overflow: hidden;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 16px;
}

.sov-title {
  font-family: theme('fontFamily.body');
  font-weight: 400;
  font-size: 28px;
}

.sov-table {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 30px;

  .table {
    margin: 0;
    background: white;
    text-align: left;

    tr {
      height: auto;

      &:last-child {
        td {
          div {
            text-align: center;
            font-size: 9px;
          }
        }
      }
    }

    td[rowspan='2'] {
      text-align: center;
      width: 60px;
    }

    th,
    td {
      @apply 
      tw-font-body tw-text-gray-dark
        tw-border tw-border-black;
      padding: 5px;
      vertical-align: middle;
      font-family: theme('fontFamily.body');
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
    }
  }
}

.custom-dialog-container {
  opacity: 1;
  transform: scale(1);
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  pointer-events: none;
  user-select: none;
  width: 100%;
  position: fixed;
  z-index: 20;
}
.bp3-overlay-inline .bp3-overlay-content,
.bp3-overlay-scroll-container .custom-dialog-container {
  position: absolute;
}
.custom-dialog-container > .custom-dialog {
  pointer-events: all;
  user-select: text;
}
.custom-dialog-container.bp3-overlay-appear > .custom-dialog,
.custom-dialog-container.bp3-overlay-enter > .custom-dialog {
  opacity: 0;
  transform: scale(0.5);
}
.custom-dialog-container.bp3-overlay-appear-active > .custom-dialog,
.custom-dialog-container.bp3-overlay-enter-active > .custom-dialog {
  opacity: 1;
  transform: scale(1);
  transition-duration: 0.3s;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
}
.custom-dialog-container.bp3-overlay-exit > .custom-dialog {
  opacity: 1;
  transform: scale(1);
}
.custom-dialog-container.bp3-overlay-exit-active > .custom-dialog {
  opacity: 0;
  transform: scale(0.5);
  transition-duration: 0.3s;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
}

.btn-trading[disabled] {
  @apply tw-bg-muted;
  opacity: 0.5;
  cursor: not-allowed;
  &:hover {
    @apply tw-bg-muted;
  }
}

/* history page */
.history-table {
  max-width: 1544px;
  margin: auto;
}
