@import '_custom-variables.scss';
@import 'blueprint-variables';

//@import "~sanitize.css/sanitize.css";
@import '~normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/src/blueprint';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';

@import 'new-design';
@import 'wallet-tutorial';
@import '_mobile-wallet-tutorial';
@import 'sov-tutorial';
@import 'fast-btc-tutorial';
@import 'genesis-sale';

@import '_custom-styles.scss';

@import 'global.scss';
