@import '_custom-variables.scss';

//@import "~sanitize.css/sanitize.css";
@import '~normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/src/blueprint';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';

@import 'blueprint-override.scss';

@import 'new-design';

@import 'global.scss';
@import 'toasts.scss';
