.instructionsTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: #f4f4f4;
  line-height: 1.25;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.mainInstructionsWrapper {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 0;
  margin-bottom: 4.125rem;
}

.instructionsSectionsWrapper {
  margin-left: 5.75rem;
  text-align: left;
  max-width: 26.6875rem;
}
