.bp3-popover.header-nav-popover .bp3-popover-content {
  border: none;
  background-color: black !important;
  overflow: hidden;
  & .bp3-menu {
    padding: 0;
    & a {
      font-weight: normal;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
.openedMenu {
  header {
    height: 100vh;
  }
}