.container {
    max-width: 25rem;
    @apply tw-flex tw-flex-1 tw-flex-col tw-justify-center tw-items-center tw-py-12 tw-w-full;
}

.wrapper {
    min-height: calc(100vh - 2.5rem);
}

.page {
    margin-top: -4.4rem;
}