.dialog {
  @apply tw-relative
      tw-font-body
      tw-bg-black tw-border-0 tw-rounded-3xl;

  padding: 30px 40px 50px 40px !important;
  max-width: 468px;
  max-height: 592px;
}

.walletLogo {
  @apply tw-flex tw-flex-col tw-justify-between tw-items-center 
    tw-w-40 tw-h-40 tw-mx-auto
    tw-border-sov-white tw-rounded-3xl
    tw-overflow-hidden;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 4.375rem;
  padding: 1.3rem 2.1rem 1rem 2.1rem;
}
