.dialog {
  @apply tw-relative
      tw-font-body
      tw-bg-black tw-border-0 tw-rounded-3xl;

  padding: 30px 40px 50px 40px !important;
  max-width: 468px;
  max-height: 592px;
}

.walletLogo {
  @apply tw-flex tw-flex-col tw-justify-between tw-items-center tw-overflow-hidden;
  width: 10rem;
  height: 10rem;
  border-radius: 1.25rem;
  border: 5px solid #e8e8e8;
  margin: 0 auto 4.375rem;
  padding: 1.3rem 2.1rem 1rem 2.1rem;
}
