.dialog {
    background: #000000!important;
    border: 0!important;
    border-radius: 20px!important;
    padding: 30px 0 50px 0!important;
    font-family: "Montserrat", sans-serif;
    max-width: 460px;
    max-height: 592px;
    position: relative;
}