.dialog {
    @apply tw-relative
      tw-font-body
      tw-bg-black tw-border-0;

    border-radius: 20px!important;
    padding: 30px 40px 50px 40px!important;
    max-width: 468px;
    max-height: 592px;
}
