.dialog {
  @apply tw-relative tw-block
    tw-w-full tw-min-h-screen tw-m-0 tw-p-5
    tw-text-sov-white tw-font-body
    tw-bg-black tw-border-0 tw-rounded-none;

  max-width: 1000px;
  transition: width 0.5s, height 0.5s, padding 0.5s;
  will-change: width, height, padding;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  @apply tw-border-2 tw-border-gray-dark;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 42px;
  height: 42px;
  transition: opacity 0.5s;
  will-change: opacity;
  background: transparent
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC4zMzMiIGhlaWdodD0iMjAuMzMzIiB2aWV3Qm94PSIwIDAgMjAuMzMzIDIwLjMzMyI+PHBhdGggZD0iTTI1LjMzMyw3LjA0OCwyMy4yODUsNWwtOC4xMTksOC4xMTlMNy4wNDgsNSw1LDcuMDQ4bDguMTE5LDguMTE5TDUsMjMuMjg1bDIuMDQ4LDIuMDQ4LDguMTE5LTguMTE5LDguMTE5LDguMTE5LDIuMDQ4LTIuMDQ4LTguMTE5LTguMTE5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUgLTUpIiBmaWxsPSIjZjRmNGY0Ii8+PC9zdmc+')
    center center no-repeat;
  border-radius: 21px;
  cursor: pointer;
  padding: 0;
}

.close:hover {
  opacity: 0.8;
}

@screen md {
  .dialog {
    padding: 30px 30px 30px;
    margin: 15px !important;
    border-radius: 20px !important;
    min-height: 0;
  }

  .dialog_small {
    max-width: 470px;
  }

  .content {
    display: block;
    height: auto;
    justify-content: normal;
    align-items: normal;
  }
}

@media screen and (min-width: 1280px) {
  .dialog {
    padding: 30px 70px 70px;
    margin: 40px !important;
  }

  .dialog_normal {
    max-width: 1000px;
  }
  .dialog_large {
    max-width: 1000px;
  }

  .close {
    right: -33px;
    top: -33px;
  }
}

.sr_only {
  display: none;
}

@media speech {
  .sr_only {
    display: block;
  }
}

.dialog h1 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  margin-bottom: 35px;
  margin-top: 15px;
}

.dialog,
.dialog * {
  box-sizing: border-box;
}
