.top-up-container {
  @media screen and (max-width: 767px) {
    & :global(.bp3-dialog) {
      width: 100%;
      height: 100vh;
      border: 0;
      border-radius: 0;
      margin: 0;
    }
  }

  @media screen and (min-width: 992px) {
    & :global(.bp3-dialog) {
      transition: width 0.5s;
      will-change: width;
      &.top-up-dialog-extend {
        width: 800px;
      }
    }
  }

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    &.circle-red {
      background-color: var(--red);
    }
    &.circle-green {
      background-color: var(--green);
    }
  }
}
