// swap btn
.swap-btn-container {
  max-width: 250px;
  margin: auto;
  margin-top: 23px;

  .swap-btn-helper {
    @apply tw-flex tw-items-center tw-justify-center
      tw-text-xs tw-text-sov-white tw-text-center tw-tracking-normal;
      
    img {
      @apply tw-ml-2 tw-cursor-pointer;
    }
  }

  .swap-btn {
    @apply tw-flex tw-items-center tw-justify-center
      tw-p-0 tw-mx-auto tw-mt-4
      tw-text-xl tw-font-bold
      tw-bg-trade-long tw-rounded-lg;
    height: 60px;
    width: 250px;
    padding: 0;
  }
}

// swap form
.swap-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @screen lg {
    flex-direction: row;
  }

  .swap-form {
    @apply tw-px-9 tw-pt-8 tw-pb-12 
      tw-bg-black tw-border tw-border-gray-5 tw-rounded-3xl;
    width: 387px;
    min-height: 388px;

    .title {
      @apply tw-mb-10 
        tw-text-5xl tw-text-sov-white tw-font-body tw-uppercase tw-text-center tw-font-extrabold tw-opacity-100;
      margin-bottom: 41px;
    }

    .available-balance {
      @apply tw-mt-2.5
        tw-text-sov-white tw-text-xs tw-font-body;
    }

    .amount {
      @apply tw-pt-8;
    }
  }
  .swap-revert-wrapper {
    @apply tw-flex tw-items-center tw-justify-center 
      tw-mx-16 tw-my-0;
    width: 227px;
    transform: rotate(90deg);

    @screen lg {
      transform: none;
    }

    .swap-revert {
      width: 170px;
      height: 133px;
      background: center center no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
}
