.container {
  @apply tw-relative tw-w-full 
      tw-text-sov-white tw-tracking-normal
      tw-bg-black tw-rounded-2xl;

  width: 468px;
  padding: 30px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  border: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.close:hover {
  opacity: 0.9;
}

.title {
  margin-top: 15px;
  margin-bottom: 45px;
  font-size: 1.75rem;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.wrapper {
  padding: 0 35px;
}

.arrowDown {
  width: 30px;
  margin: 25px auto;
}

.txFee {
  @apply tw-text-white tw-text-sm tw-font-normal;
  margin: 20px 0 35px;
}

.right {
  right: 0;
}
