.title {
    margin-bottom: 57px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.subtitle {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    text-transform: none;
}

.amountBlock {
    display: inline-block;
    margin: 0 auto 36px;
}

.amountBlockBtc {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.amountBlockUsd {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.txData {
    width: 230px;
}

.marginTop {
    margin-top: 20px;
}

.marginBottom {
    margin-bottom: 20px;
}

.arrowDown {
    width: 30px;
    margin: 25px auto;
}
