@layer base {
  body {
    @apply tw-bg-dark tw-text-white tw-font-body;
  }

  * {
    @apply tw-font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tw-text-white;
  }

  a {
    @apply tw-text-primary tw-no-underline tw-underline;
  }

  a:hover,
  a:active {
    @apply tw-text-primary tw-underline;
  }

  .tw-bg-primary {
    background: #171717 !important;
  }
  .tw-bg-dark {
    background: #171717 !important;
  }
  .tw-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .tw-text-muted {
    color: #656565;
  }
  .tw-black-font {
    color: black !important;
    font-weight: 700;
  }
  .tw-image-responsive {
    max-width: 333px;
    border-radius: 6px;
    position: relative;
  }
  button.tw-button-round {
    border: 1px solid;
    margin-left: 15px;
    border-radius: 25px !important;
    font-weight: 100;
    font-size: 14px;
    text-transform: none;
    padding: 8px 20px;
    transition: background 0.3s;
    @apply tw-font-body;
  }
  button.tw-button-round:hover {
    background: rgba(254, 192, 4, 0.25) !important;
  }
  button.tw-button-round:focus, button.tw-button-round:active {
    background: rgba(254, 192, 4, 0.5) !important;
  }
  button.tw-button-round:disabled {
    opacity: 0.5;
  }
  .tw-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .tw-circle .tw-circle-red {
    background-color: var(--red);
  }
  .tw-circle .tw.circle-green {
    background-color: var(--green);
  }
  .skeleton {
    animation: skeleton-glow 1s linear infinite alternate;
    background: rgba(206,217,224,.2);
    background-clip: padding-box!important;
    border-color: rgba(206,217,224,.2)!important;
    border-radius: 2px;
    box-shadow: none!important;
    color: transparent!important;
    cursor: default;
    pointer-events: none;
    user-select: none;
  }
  .skeleton *, .skeleton:after, .skeleton:before {
      visibility: hidden!important;
  }
  article.bp3-dialog h1 {
    @apply tw-text-white;
  }
}
