@layer base {
  body {
    @apply tw-bg-dark tw-text-white tw-font-body;
  }

  * {
    @apply tw-font-body;
  }

  a,
  a:visited {
    @apply tw-text-primary tw-no-underline tw-underline;
  }

  a:hover,
  a:active {
    @apply tw-text-primary tw-underline;
  }

  .tw-bg-primary {
    background: #171717 !important;
  }
  .tw-bg-dark {
    background: #171717 !important;
  }
  .tw-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .tw-text-muted {
    color: #656565;
  }
  .tw-black-font {
    color: black !important;
    font-weight: 700;
  }
  .tw-image-responsive {
    max-width: 333px;
    border-radius: 6px;
    position: relative;
  }
  //new styles for Sovryn
  button.tw-button-round {
    border: 1px solid;
    margin-left: 15px;
    border-radius: 25px !important;
    font-family: $font-family-montserrat;
    font-weight: 100;
    font-size: 14px;
    text-transform: none;
    padding: 8px 20px;
    transition: background 0.3s;

    &:hover {
      background: rgba(254, 192, 4, 0.25) !important;
    }

    &:active,
    &:focus {
      background: rgba(254, 192, 4, 0.5) !important;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
  .tw-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .tw-circle .tw-circle-red {
    background-color: var(--red);
  }
  .tw-circle .tw.circle-green {
    background-color: var(--green);
  }
}
