.wrapper {
  @apply tw-h-2.5
    tw-text-base tw-font-medium
    tw-bg-gray-3 tw-border tw-border-gray-6 tw-rounded-xl
    tw-cursor-pointer;
  padding: 7px 20px;
}

.wrapperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowDown {
  width: 21px;
  height: 13px;
  background: url('./arrow-down.svg') center center no-repeat;
  background-size: 21px 13px;
  margin-left: 15px;
}
