.fish-card {
  width: 18.3975rem;
  height: 24.5125rem;
  @media (min-width: 1200px) {
    width: 14rem;
    height: 18.5885rem;
  }
  @media (min-width: 1440px) {
    width: 18.6875rem;
    height: 24.8125rem;
  }
}

.mynt-image {
  width: 18.6875rem;
  height: 24.8125rem;
  margin-bottom: 1rem;

  @media (min-width: 576px) {
    margin-bottom: 0;
  }
  @media (min-width: 1200px) {
    width: 14rem;
    height: 18.5885rem;
  }
  @media (min-width: 1440px) {
    width: 18.6875rem;
    height: 24.8125rem;
  }
}
