.actionLink {
  @apply tw-text-primary tw-tracking-normal hover:tw-text-primary hover:tw-underline tw-p-0 tw-font-normal tw-font-body;

  &.disabled, &:disabled {
    @apply tw-text-primary-50 tw-pointer-events-none;
  }
}
