// new swap page
.swap-page {
  max-width: 100%;
  margin: 1rem auto;

  @screen lg {
    margin: 3rem auto;
  }

  // swap history table
  .swap-history-table-container {
    max-width: 1544px;
    margin: auto;
    margin-top: 95px;
  }
}
