// new swap page
.swap-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  // swap history table
  .swap-history-table-container {
    max-width: 1544px;
    margin: auto;
    margin-top: 95px;
  }
}
