.button {
  @apply tw-text-xl tw-leading-6 tw-text-black tw-font-bold
    tw-bg-primary tw-border tw-border-primary tw-rounded-xl
    tw-cursor-pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  height: 50px;
  padding: 0 25px;
}

.button:hover {
  background: rgba(254, 192, 4, 0.8);
}

.button.inverted {
  @apply tw-text-primary tw-bg-black;
}

.button.inverted:hover {
  background: rgba(254, 192, 4, 0.25);
}

.button.inverted:active {
  background: rgba(254, 192, 4, 0.5);
}

.button.disabled,
.button:disabled {
  @apply tw-opacity-25 tw-cursor-not-allowed;
}
