.button {
    background: theme('colors.primary');
    border: 1px solid theme('colors.primary');
    color: #000000;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;
    height: 50px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.button:hover {
    background: rgba(254, 192, 4, 0.8);
}

.button.inverted {
    background: #000000;
    color: theme('colors.primary');
}

.button.inverted:hover {
    background: rgba(254, 192, 4, 0.25);
}

.button.inverted:active {
    background: rgba(254, 192, 4, 0.5);
}

.button.disabled, .button:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}
