.title {
  @apply tw-font-semibold tw-tracking-normal tw-mb-8;
  font-size: 1.375rem;
  color: #e9eae9;
  line-height: 1.6875rem;
}
.status {
  @apply tw-mb-24 tw-text-center;
  color: #e9eae9;
}
.download {
  @apply tw-mb-7 tw-text-center tw-underline;
}

.linkText {
  color: #0392e8;
}
