.statsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.475rem;
    font-size: 0.75rem;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
    & > div {
        &:nth-child(n + 6) {
            display: none !important;
        }
        @media (max-width: 1200px) {
            & > div:nth-child(2) {
                display: none;
            }
        }
        @media (max-width: 768px) {
            margin: 2px 0;
        }
    }
}