.buyWrapper {
  width: 64%;
  height: 100%;
  background-color: #181818;
  box-shadow: -11px 0px 25px #00000026;
  padding: 4.5rem 2rem;
}

.buyButton {
  height: 3.75rem;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid #17c3b2;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
  background: #17c3b2;
  border-radius: 0.625rem;
  transition: opacity 0.3s;
  text-transform: uppercase;
  padding: initial;

  &:not([disabled]):hover {
    opacity: 0.75;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
