.ModalOpen {
    animation: openModal 0.6s ease-out forwards;
}
.ModalClosed {
    animation: closeModal 0.6s ease-out forwards;
}

@keyframes openModal {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0);   }
}

@keyframes closeModal {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%);}
}