.title {
    margin-bottom: 35px;
    font-size: 23px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
  }
.subtitle {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 18px;
  color: #a52222;
  font-weight: 300;
  text-transform: none;
  width: 60%;
}