.title {
    font-size: 23px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
  }
.subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #A52222;
  font-weight: 300;
  text-transform: none;
  width: 42%;
}
.titleTut {
  font-size: 11px;
  line-height: 18px;
  color: #ffc107;
  font-weight: 200;
  text-decoration: underline;
  width: 35%;
}