.title {
    font-size: 23px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
  }

.subtitle {
  @apply tw-text-error;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-transform: none;
  width: 42%;
}

.titleTut {
  @apply tw-text-primary;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: underline;
  width: 35%;
  padding: 0;

  &:hover {
    @apply tw-text-primary;
    text-decoration: none;
  }
}
