.overview {
  @apply tw-px-8 tw-w-full tw-h-10 tw-flex tw-items-center tw-justify-between;
  background-color: #2c2c2c;
}

.topInfoWrapper {
  @apply tw-fixed tw-w-full tw-z-20;
  top: 3.75rem;
}

.mainAreaWrapper {
  @apply tw-container;
  margin-top: 6.25rem;
}

.tradingChartWrapper {
  height: 24.8125rem;
  width: 43.625rem;
}

.depthChartWrapper {
  height: 11.9375rem;
  width: 43.625rem;
}

.chartAreaWrapper {
  @apply tw-flex tw-flex-col tw-mb-8;
  height: 38.75rem;
}
