.title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    text-transform: none;
    text-align: center;
    margin-bottom: 23px;
}

.summary {
    padding: 15px 40px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

.gasNote {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.entryPrice {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 26px;
}

.entryPrice__value {
    font-size: 26px;
    line-height: 32px;
    margin-top: 5px;
}

.entryPriceNote {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}

.button {
    max-width: 320px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    padding: 15px;
    transition: opacity 0.3s;
}
.button:hover {
    opacity: 0.9;
}

.button:disabled {
    opacity: 0.4;
}

.button_long {
    background-color: #4ECDC4;
}
.button_short {
    background-color: #cd4e4e;
}

.container {
    background-color: #000000;
    color: #D9D9D9;
    max-width: 468px;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    letter-spacing: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
}

.close:hover {
    opacity: 0.9;
}

.txTitle {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.txText {
    margin-bottom: 15px;
    text-align: center;
}
