.engageButton {
  @apply tw-w-auto tw-font-thin tw-text-lg tw-tracking-normal tw-capitalize
    tw-border tw-border-solid tw-whitespace-nowrap
    tw-my-0 tw-mx-auto;
  height: 3.125rem;
  padding: 0.875rem 3.25rem;
  color: var(--primary);
  transition: all 0.3s;
  border-radius: 0.625rem;
  &:hover {
    background: rgba(254, 192, 4, 0.25) !important;
  }
  &:active,
  &:focus {
    background: rgba(254, 192, 4, 0.5) !important;
  }
}

.engageWalletDialogWrapper {
  @apply tw-flex tw-flex-col tw-justify-between tw-ml-10;
  height: 37.25rem;
  background-color: #181818;
  padding: 3.125rem 8.25rem 4.75rem 8.25rem;
  border-radius: 1.25rem;
}

.dialogTitle {
  @apply tw-text-3xl tw-tracking-normal;
  margin-bottom: 10.375rem;
}
