.simpleView {
  .engage-wallet {
    @apply tw-px-0.5 tw-pt-0 tw-pb-2.5
      tw-text-2xl;
    height: 50px;

    span {
      & > span:first-child {
        min-width: 250px;
      }
    }

    .logout {
      height: 50px;
      padding: 17px 12px;
    }
  }
}

.engage-wallet {
  @apply tw-justify-center tw-items-center tw-hidden xl:tw-flex
    tw-w-auto tw-h-10 tw-py-0.5 tw-pr-0 tw-pl-2.5
    tw-text-sm tw-font-extralight tw-font-body tw-tracking-normal
    tw-bg-gray-4 tw-rounded-lg
    tw-cursor-pointer;

  min-width: 165px;

  .logout {
    @apply tw-h-10 tw-p-3 
      tw-text-primary 
      tw-bg-gray-6 tw-rounded-l-none tw-rounded-r-lg
      tw-cursor-pointer;

    transition: background-color 0.3s;
    margin-left: 0.7rem;

    &:hover {
      @apply tw-bg-black tw-bg-opacity-25;
    }
  }
}
