.simpleView {
  .engage-wallet {
    height: 50px;
    padding: 2px 0 2px 10px;
    font-size: 22px;

    span {
      & > span:first-child {
        min-width: 250px;
      }
    }

    .logout {
      height: 50px;
      padding: 17px 12px;
    }
  }
}

.engage-wallet {
  @apply tw-h-10 tw-py-0.5 tw-pr-0 tw-pl-2.5
    tw-text-primary tw-font-thin tw-font-body tw-tracking-normal
    tw-bg-gray-6 tw-rounded-lg
    tw-cursor-pointer;

  background-color: #383838;
  font-size: 14px;
  min-width: 165px;

  .logout {
    @apply tw-h-10 tw-p-3 
      tw-text-primary 
      tw-bg-gray-6 tw-rounded-l-none tw-rounded-r-lg
      tw-cursor-pointer;

    transition: background-color 0.3s;
    margin-left: 0.7rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.36);
    }
  }
}
