.dialog {
  @apply tw-relative
    tw-font-body
    tw-bg-black tw-border-0 tw-rounded-3xl;
  padding: 15px !important;
  max-width: 100%;
  margin: 30px;
}

@screen sm {
  .dialog {
    padding: 30px 0 50px 0 !important;
    max-width: 468px;
  }
}

.dialog h1 {
  margin-bottom: 1.5rem;
  text-transform: none;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.813rem;
  font-weight: 500;
}

.dialog button[data-close] {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 24px;
  height: 24px;
  transition: opacity 0.5s;
  will-change: opacity;
  background: transparent
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCwwSDI0VjI0SDBaIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTExLjY3LDMuODcsOS45LDIuMSwwLDEybDkuOSw5LjksMS43Ny0xLjc3TDMuNTQsMTJaIiBmaWxsPSIjZTllYWU5Ii8+PC9zdmc+')
    center center no-repeat;
  border: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
