.wlContainer {
  @apply tw-flex tw-flex-col tw-justify-center tw-items-center
    tw-border tw-border-sov-white tw-rounded-3xl 
    tw-overflow-hidden;

  width: 98px;
  height: 98px;
  margin: 0 auto 35px;
}

.wlImage {
  @apply tw-mb-2.5 tw-object-contain;
  width: 50px;
  height: 50px;
}
