.dialog {
    background: #000000!important;
    border: 0!important;
    border-radius: 20px!important;
    padding: 30px 82px 50px 82px!important;
    font-family: "Montserrat", sans-serif;
    max-width: 460px;
    position: relative;
}
