.header-container {
  padding-bottom: 25px;
}
.black-font {
  color: black !important;
  font-weight: 700;
}
.banner-container {
  height: max-content;
  width: 100%;
  margin: 0 auto;
}

.banner {
  background-color: #fdc009;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  margin-bottom: 13px;
}
.info-container {
  padding-top: 0px;
  padding-bottom: 5px;
}
.title-container {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.sub-info-container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.sub-info-text {
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: 300;
  font-family: 'Montserrat';
  margin-top: 15px;
}
.button-white {
  width: 50%;
  background-color: white;
  border: solid 1px #111111;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat';
  letter-spacing: 0;
  box-shadow: 2px 2px 0px 1px black;
  margin-top: 0.8rem;
  transition: all 0.3s;
  &:hover {
    box-shadow: none;
    text-decoration: none;
    color: black;
    &.button {
      color: black;
    }
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.timer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 10;
}
.date-container {
  height: 80px;
  width: 280px;
  background-color: black;
  transform: rotate(0.5deg);
  border: solid 4px #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.launch-text-container {
  display: none;
}
.text-white {
  color: white;
}
.picture-container {
  display: block;
  position: absolute;
  left: 30px;
  top: 8px;
  min-width: 440px;
}
.close-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
}
@media (max-width: 1200px) {
  .picture-container {
    display: none;
  }
}
@media (min-width: 1080px) {
  .title-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timer-container {
    position: absolute;
    right: 50px;
    top: 55px;
  }
  .date-container {
    height: 90px;
    width: 300px;
  }
  .close-button-container {
    padding-right: 17px;
    padding-top: 15px;
  }
  .banner-samurai {
    width: 100%;
    height: auto;
  }
  .button:hover {
    color: #fdc009;
  }
}
