.page-main-section {
  width: 57.5rem;
}

.background-image-wrapper {
  @apply tw-absolute tw-top-0 tw-left-0 tw-z-0 tw-opacity-25 tw-flex tw-justify-between tw-w-full;
  max-height: 43rem;
}

.tab-main-section {
  @apply tw-w-full tw-flex tw-flex-row tw-justify-center tw-items-center;
  background-color: #222222;
}

.divider {
  @apply tw-w-0 tw-border;
  height: 9.375rem;
  border-color: #e9eae9;
}

.ul {
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1rem;
    top: 0.45rem;
    width: 6px;
    height: 6px;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: #e9eae9;
  }
}
