@layer base {
  html,
  body {
    @apply tw-h-full tw-w-full tw-font-normal;
  }

  body {
    @apply tw-bg-background tw-text-foreground tw-font-body tw-text-xs tw-leading-normal;
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px currentcolor;
  }

  @screen lg {
    body {
      @apply tw-text-base tw-leading-normal;
    }
  }

  * {
    @apply tw-font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tw-text-white tw-font-medium;
    line-height: 1.2;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a,
  a:visited {
    @apply tw-text-primary tw-no-underline tw-underline;
  }

  a:hover,
  a:active {
    @apply tw-text-primary tw-underline;
  }

  th {
    text-align: inherit;
  }

  /* TODO: remove headline styles once the Headline Component is done. */
  h1 {
    font-size: 30px;
    font-weight: 500;
  }

  h2 {
    text-transform: inherit;
    font-weight: 600;
    font-size: 1.75rem;
    margin: 0;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.77px;
    color: inherit;
  }

  h4 {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 2.92px;
    color: var(--Grey_text);
  }

  /* TODO: cleanup tailwind base classes */
  .tw-bg-primary {
    background: #171717 !important;
  }
  .tw-bg-dark {
    background: #171717 !important;
  }
  .tw-text-muted {
    color: #656565;
  }
  .tw-black-font {
    color: black !important;
    font-weight: 700;
  }
}
