@layer components {
  .tw-scrollbars-thin {
    /* firefox scrollbars */
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray-5') transparent;
  }

  .tw-scrollbars-thin::-webkit-scrollbar-track {
    @apply tw-bg-transparent;
  }

  .tw-scrollbars-thin::-webkit-scrollbar {
    @apply tw-w-2.5 tw-h-2.5 tw-bg-transparent;
  }

  .tw-scrollbars-thin::-webkit-scrollbar-thumb {
    @apply tw-rounded-full tw-bg-gray-6 
      tw-border-solid tw-border-transparent tw-bg-clip-padding;
    border-width: 3px;
  }

  .tw-scrollbars-thin::-webkit-scrollbar-thumb:hover {
    @apply tw-bg-gray-5;
  }

  .tw-scrollbars-thin::-webkit-scrollbar-thumb:active {
    @apply tw-bg-gray-7;
  }

  .tw-scrollbars-thin::-webkit-scrollbar-corner {
    @apply tw-bg-transparent;
  }


  .tw-link {
    @apply tw-text-primary tw-no-underline tw-font-normal;
  }

  .tw-link:hover {
    @apply tw-text-primary tw-underline;
  }

  .tw-header-link,
  .tw-header-link:visited {
    @apply tw-font-body tw-normal-case tw-no-underline tw-text-sov-white tw-text-base tw-no-underline tw-transition;
  }

  .tw-header-link:hover,
  .tw-header-link:active {
    @apply tw-text-secondary tw-no-underline;
  }

  .tw-header-link.active {
    @apply tw-text-sov-white tw-font-medium tw-no-underline;
  }

  /* form button styles */
  .tw-btn {
    height: 3rem;
    letter-spacing: 0.1rem;
    @apply tw-flex tw-flex-row tw-items-center tw-justify-center;
    @apply tw-text-primary tw-uppercase tw-text-xl tw-font-black tw-leading-none tw-font-body;
    @apply tw-px-6 tw-py-2;
    @apply tw-border lg:tw-rounded;
    @apply tw-transition;
    @apply tw-bg-primary tw-bg-opacity-10;
    @apply hover:tw-bg-opacity-25;
  }

  .tw-btn:disabled {
    @apply tw-opacity-25 tw-bg-opacity-25 tw-cursor-not-allowed;
  }

  .tw-btn.loading,
  .tw-btn.loading:disabled {
    @apply tw-opacity-75 tw-bg-opacity-25 tw-cursor-wait;
  }

  /* inverted btn styles */
  .tw-btn-inverted {
    @apply tw-btn;
    @apply tw-text-black tw-bg-opacity-100;
    @apply hover:tw-bg-opacity-75;
  }

  .tw-btn-inverted:disabled {
    @apply tw-opacity-75 tw-bg-opacity-75 tw-cursor-not-allowed;
  }

  .tw-btn-inverted.loading,
  .tw-btn-inverted.loading:disabled {
    @apply tw-opacity-75 tw-bg-opacity-75 tw-cursor-wait;
  }

  .tw-trading-form-card.spot-form {
    min-width: 452px;
  }
  .tw-trading-form-card {
    max-width: 452px;
    width: 100%;
  }

  .tw-mw-340 {
    @apply tw-w-full;
    max-width: 320px;
  }
}

.assetname {
  min-width: 130px;
}

[disabled].hover\:bg-opacity-0:hover {
  background: transparent !important;
}

.assets {
  min-width: 115px;
}
