# Syncs "development" branch to "development_external"

name: 'Sync Development External'
on:
  push:
    branches:
      - development

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    name: Syncing branches
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: lts/erbium
      - name: Opening pull request
        id: pull
        uses: tretuna/sync-branches@1.2.0
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: 'development'
          TO_BRANCH: 'development_external'
          PULL_REQUEST_BODY: 'sync-branches: Syncing commits from {FROM_BRANCH} to {TO_BRANCH}'
